.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.DS_Store

dstew-access-api/generated
access-datastore-api/generated

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.run.xml
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/
